.inicio_sesion{
    align-content: center;
    margin: 5px 5px 10px 5px;
    padding: 5px 0 20px 0; 
}

.loging{
    background: #337ab7;
    height: 37.5px;
    width: 37px;
    border: none;
    border-radius: 5px;
    margin: 9px 20px 0 1.5px;
    align-items: center;
    justify-content: center;
}

input.usuario{
    width: 180px;
    height: 35px;
    margin: 12px 0 0 0;
    padding: 0 0 0 8px;
    font-weight: 400;
    box-shadow: none;
    font-size: 14px;

}

input.contraseña_usuario{
    width: 180px;
    height: 35px;
    margin: 5px 0 0 1.5px;
    padding: 0 0 0 8px;
    font-weight: 400;
    box-shadow: none;
    font-size: 14px;
}

.seccion_fotos{
    display: flex;
    flex-direction: row; 
    align-items: center;    /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente si es necesario */

}