{% extends 'base.html' %}

{% block content %}
<div class="seccion_script">
    <form id="altaForm" action="/descargar_script" method="POST" enctype="multipart/form-data" target="hidden_iframe" onsubmit="handleSubmit(event)">
        <div class="titulo_script">
            <h1 class="bienvenido">Script</h1>
        </div>
        <div class="sec_script">
            <div class="contenedor_script">
                <input id="nombre_documento" class="input correo" type="text" name="nombre_documento" placeholder="Nombre del documento">
                <h3>Baja</h3>
                <div id="extension_baja">
                </div>
                <div style="margin: 15px 0; padding: 0 0 0 5px">
                    <h3 style="margin: 0 0 15px 0;">Carga masiva</h3>
                    <div style="margin: 5px 0;">
                        <label for="machote" style="color: #293c77; font-weight: 700;">Machote</label>
                        <button id="machote" class="descargar">Descargar</button>
                    </div>
                    <div style="margin: 5px 0; color: #293c77; font-weight: 700;">
                        <label for="archivo" >Archivo</label>
                        <input id="archivo" type="file" name="archivo" style="font-weight: 500;">
                    </div>
                </div>
            </div>
        </div>
        <div class="titulo_politicas">
            <h1 class="bienvenido">Políticas</h1>
        </div>
        <div class="sec_politicas">
            <div>
                <label style="font-weight: 700;">
                    <input type="radio" name="politica" value="generales" checked>Políticas Generales
                    <div id="generales" style="display:block;">
                        <hr style="margin: 15px 0 0 0;">
                        <div style="margin: 0 30px 0 60px;">
                            <h6>Baja<br><br>
                                echo "Remove-CsPhoneNumberAssignment -Identity  -PhoneNumberType -RemoveAll"<br>
                                Remove-CsPhoneNumberAssignment -Identity  -RemoveAll
                                <br><br>
                                echo "Grant-CsOnlineVoiceRoutingPolicy -Identity  -PolicyName $null"<br>
                                Grant-CsOnlineVoiceRoutingPolicy -Identity  -PolicyName $null
                                <br><br>
                                echo "Grant-CsTeamsCallingPolicy -Identity  -PolicyName $null"<br>
                                Grant-CsTeamsCallingPolicy -Identity  -PolicyName $null
                            </h6>
                        </div>
                        <hr>
                    </div>
                </label>
            </div>
            <div>
                <label style="font-weight: 700;">
                    <input type="radio" name="politica" value="individuales">Políticas Individuales
                </label><br>
                <div id="individuales" style="display:none;">
                    <hr style="margin: 15px 0 0 0;">
                    <div style="margin: 0 30px 0 30px; padding: 15px 0">
                        <div>
                            <p style="font-weight: 700;">Baja</p>
                        </div>
                        <label class="class_box">
                            <div>
                                <input class="checkbox" type="checkbox" name="politicas_individuales[]" value="set8" checked>
                            </div>
                            <div>
                                <p>
                                    echo "Remove-CsPhoneNumberAssignment -Identity  -PhoneNumberType -RemoveAll" <br>
                                    Remove-CsPhoneNumberAssignment -Identity  -RemoveAll
                                </p>
                            </div>
                        </label><br>
                        <label class="class_box">
                            <div>
                                <input class="checkbox" type="checkbox" name="politicas_individuales[]" value="set9" checked>
                            </div>
                            <div>
                                <p>
                                    echo "Grant-CsOnlineVoiceRoutingPolicy -Identity  -PolicyName $null" <br>
                                    Grant-CsOnlineVoiceRoutingPolicy -Identity  -PolicyName $null
                                </p>
                            </div>
                        </label><br>
                        <label class="class_box">
                            <div>
                                <input class="checkbox" type="checkbox" name="politicas_individuales[]" value="set10" checked>
                            </div>
                            <div>
                                <p>
                                    echo "Grant-CsTeamsCallingPolicy -Identity  -PolicyName $null" <br>
                                    Grant-CsTeamsCallingPolicy -Identity  -PolicyName $null
                                </p>
                            </div>
                        </label><br>
                        <label class="class_box">
                            <div>
                                <input class="checkbox" type="checkbox" name="politicas_individuales[]" value="set11">
                            </div>
                            <div>
                                <p>
                                    echo "Grant-CsOnlineAudioConferencingRoutingPolicy  -Identity  -PolicyName $null" <br>
                                    Grant-CsOnlineAudioConferencingRoutingPolicy -Identity  -PolicyName $null
                                </p>
                            </div>
                        </label>
                    </div>
                    <hr>
                </div>
            </div>
            <div>
                <label style="font-weight: 700;">
                    <input type="radio" name="politica" value="dominio">Políticas Por Dominio
                    <br>
                    <div id="dominio" style="display:none;">
                        <hr style="width: 96%; margin: 15px 0 0 10px;">
                        <br>
                        <div id="buscar">
                            <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
                                <div><input id="1" class="input correo" placeholder="Correo" name="1" style="margin: 0 0 10px 0;"></div>
                                <div><button class="button buscar" type="button" onclick="politicas_por_dominio_baja()">Buscar</button></div>
                            </div>
                        </div>
                        <div id = "seccion_baja" style="display: none;">
                            <div style="margin: 0px 0 0 55px; padding: 0;">Baja<br><br></div>
                            <div id="politicas_baja" style="padding: 0 55px 0 55px;">
                                <!-- Aquí se mostrarán las políticas obtenidas -->
                            </div>
                        </div>
                        <br>
                        <hr style="width: 96%; margin: 0 0 0 10px;">
                    </div>
                </label>
            </div>
        </div>
        <div class="generar">
            <button class="button" type="submit">Generar</button>
        </div>
    </form>
</div>

<!-- Iframe oculto para la descarga del archivo -->
<iframe id="hidden_iframe" name="hidden_iframe" style="display:none;"></iframe>

<!-- GIF de carga -->
<div id="loading" class="cargar">
    <img src="{{ url_for('static', filename='imagenes/loading2.gif') }}" alt="Cargando..." style="width:100%; height:100%;">
</div>

<!-- Div de sombra -->
<div id="shadow" class="sombra"></div>

<script>
    window.onload = function() {
        const baja = parseInt(localStorage.getItem('baja')) || 0; // Convierte a número o usa 0 si es null
        if (baja > 0) {
            agregarDivs(baja);
        }
    };

    function agregarDivs(baja) {
        const contenedor = document.getElementById('extension_baja');
        for (let i = 0; i < baja; i++) {
            const div = document.createElement('div');
            div.classList.add('extension_baja');
            div.innerHTML = `
                <input class="input correo" type="text" placeholder="Correo ${i + 1}" name="correo${i + 1}">
            `;
            contenedor.appendChild(div);
        }
    }


    function politicas_por_dominio_baja() {
    const correo = document.getElementById('correo').value;
    const tipo_extension = 'baja'; // Puedes cambiar esto según lo que necesites
    var buscar = document.getElementById("buscar");
    var seccion_baja = document.getElementById("seccion_baja");

    // Enviar los datos con fetch a la ruta /obtener_politicas
    fetch('/script_alta_busqueda', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ correo: correo, tipo_extension: tipo_extension })
    })
    .then(response => response.json())
    .then(data => {
        // Mostrar las políticas recibidas
        document.getElementById('politicas_baja').innerHTML = data.politicas;
    })
    .catch(error => console.error('Error:', error));

    // ocultar la seccion de buscar
    buscar.style.display = "none";
    seccion_baja.style.display = "block";
}

</script>

{% endblock %}
